.sellingfish
{
    height:40vh;
    background-color: chocolate;
    
}
.sellingfish-head
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.sellingfish-head h3
{
    font-size: 20px;
    padding-right: 950px;
    text-decoration: underline;
    
}

